.container{
    display: flex;
    gap: 16px;
    align-items: center;
}

.currentTheme {
    font-size: var(--fs-13);
    font-weight: 700;
    line-height: 19.25px;
    letter-spacing: 2.5px;
}

.currentTheme.light {
    color: #697C9A;
}

.currentThemeIcon{
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 20px 20px;
    -webkit-mask-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-color: #697C9A;
    cursor: pointer;
}

.currentThemeIcon.light {
    mask-image: url('../public/Icons/icon-moon.svg');
}

.currentThemeIcon.dark {
    mask-image: url('../public/Icons/icon-sun.svg');
}

.currentThemeIcon:hover{
    background-color: #222731;
}