.container{
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}
.container:hover .currentTheme.light {
    color: #222731;
}

.container:hover .currentThemeIcon.light{
    background-color: #222731;
}

.container:hover .currentTheme.dark {
    color: #90A4D4;
}

.container:hover .currentThemeIcon.dark{
    background-color: #90A4D4;
}

.currentTheme {
    font-size: var(--fs-13);
    font-weight: 700;
    line-height: 19.25px;
    letter-spacing: 2.5px;
}

.currentTheme.light {
    color: #697C9A;
}

.currentTheme.dark {
    color: white;
}

.currentThemeIcon{
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 20px 20px;
    -webkit-mask-size: 20px 20px;
    width: 20px;
    height: 20px;
}

.currentThemeIcon.light {
    mask-image: url('../public/Icons/icon-moon.svg');
    background-color: #697C9A;
}

.currentThemeIcon.dark {
    mask-image: url('../public/Icons/icon-sun.svg');
    background-color: white;
}
