.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.logo{
    font-size: var(--fs-26);
    line-height: 38.51px;
    font-weight: 700;
}

.logo.light {
    color: #222731;
}

.logo.dark {
    color: white
}
